/SEQC-II-replay.json.gz
/SEQC-II.fragment_length_hist.csv.gz
/SEQC-II.mapping_metrics.csv.gz
/SEQC-II.ploidy_estimation_metrics.csv.gz
/SEQC-II.time_metrics.csv.gz
/SEQC-II.vc_metrics.csv.gz
/SEQC-II.wgs_contig_mean_cov_normal.csv.gz
/SEQC-II.wgs_contig_mean_cov_tumor.csv.gz
/SEQC-II.wgs_coverage_metrics_normal.csv.gz
/SEQC-II.wgs_coverage_metrics_tumor.csv.gz
/SEQC-II.wgs_fine_hist_normal.csv.gz
/SEQC-II.wgs_fine_hist_tumor.csv.gz
