/sample705.AlignCollapseFusionCaller_metrics.json.gz
/sample705.TargetRegionCoverage.json.gz
/sample705.fragment_length_hist.json.gz
/sample705.msi.json.gz
/sample705.tmb.json.gz
/sample705_CombinedVariantOutput.tsv
/sample705_Failed_Exon_coverage_QC.json.gz
/sample705_Failed_Exon_coverage_QC.txt
/sample705_Fusions.csv
/sample705_Fusions.json.gz
/sample705_SampleAnalysisResults.json.gz
/sample705_TMB_Trace.json.gz
/sample705_TMB_Trace.tsv
/sample705_MergedSmallVariants.vcf.gz
/sample705_MergedSmallVariants.vcf.gz.tbi
/multiqc_data.json
